h1, h2 {
    font-weight: normal;
    margin: 5px;
}
  
/* a {
    color: #42b983;
}
div,input,span {
    display: block;
    width: 100%;
}

input {
    display: inline-block; 
    background-color:grey;
    height: 20px; 
    width: 200px;
} */

