h1, h2 {
    font-weight: normal;
    margin: 5px;
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  a {
    color: #42b983;
  }
  .test {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-width: 10px;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    display: block;
  }

  .result {
    border-radius: 5px;
    padding: 10px;
    font-family: "Courier New";
    font-size: 16px;
    word-wrap: break-word;
  }

  .success {
    background-color:lightgreen; 
  }
  .failure {
    background-color:lightcoral; 
  }
  .none {
    background-color:gray; 
  }
  .tfailure {
    text-decoration-line: line-through;
  }
  .progress {
    display: inline-block; 
    background-color:grey; 
    height: 20px; 
    width: 200px;
  }